.DS_Store
*.gem
*.rbc
*.html
.bundle
.config
.idea/*
*report.json
chromedriver.log
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
